.siderbar
{
    flex:3;
    margin: 20px;
    padding-bottom:30px ;
    background-color: #fdfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.siderbarItem
{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.siderbarTitle
{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4 ;
    border-bottom: 1px solid #a7a4a4 ;
    font-family: 'Varela', sans-serif;
    font-size: 15px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;

}

.siderbarItem > img{
   margin-top: 15px; 
   width: 250px;
  height: 250px;
}
.siderbarItem > p{
    padding: 30px;
}

.siderbarList 
{
    list-style-type: none;
    margin-bottom: 30px;

}

.siderbarListItem
{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.siderbarSocial
{
    width:250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.siderbarIcon
{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}